:root {

  --cor-texto: #ffffff;
  --cor-fundo-1: #000000;
  --cor-fundo-2: #202020;
  --cor-fundo-3: #6a6a6a;
  --cor-hover: #b1b1b1;
  --cor-detalhe: #B72D11;
  --sombra: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: url('../images/fundo-preto-detalhe-vermelho.png') no-repeat center bottom;
  background-color: var(--cor-fundo-1);
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.header-box {
  height: 40px;
  color: var(--cor-texto);
  background: url('../images/header-fundo-preto-grande.png') no-repeat center bottom;
  border-bottom: 3px solid var(--cor-detalhe);
}

.box {
  width: 100%;
  height: 93%;
}

.box-content {
  background-color: var(--cor-fundo-2);
  border: 3px solid var(--cor-detalhe);
  padding: 20px;
}

.content-fields {
  color: var(--cor-texto);
  gap: 10px;
  margin: 20px;
}

.content-btn {
  color: var(--cor-texto);
  width: 200px;
  gap: 10px;
  margin: 20px;
}

.field-homens,
.field-muheres,
.field-criancas {
  width: 250px;
}

#input-homens,
#input-mulheres,
#input-criancas {
  color: var(--cor-texto);
  background-color: var(--cor-fundo-3);
  border-radius: 5px;
  border: none;
  box-shadow: var(--sombra);
}

.btn-padrao {
  color: var(--cor-texto);
  background-color: var(--cor-fundo-3);
  border: 1px solid var(--cor-detalhe);
  border-radius: 3px;
  width: 100px;
  height: 25px;
}

.btn-padrao:hover {
  background-color: var(--cor-hover);
  cursor: pointer;
}

.field-resultado {
  gap: 10px;
}

#div-resultado {
  width: 100%;
  height: 200px;
  background-color: var(--cor-fundo-3);
  border-radius: 5px;
  border: none;
  box-shadow: var(--sombra);
}